<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-absence-heading" data-cy="AbsenceCreateUpdateHeading" jhiTranslate="gnoteEsiApp.absence.home.createOrEditLabel">
        Create or edit a Absence
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gnoteEsiApp.absence.etat" for="field_etat">Etat</label>
          <input type="text" class="form-control" name="etat" id="field_etat" data-cy="etat" formControlName="etat" />
          <div *ngIf="editForm.get('etat')!.invalid && (editForm.get('etat')!.dirty || editForm.get('etat')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('etat')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gnoteEsiApp.absence.heureDebut" for="field_heureDebut">Heure Debut</label>
          <input
            type="text"
            class="form-control"
            name="heureDebut"
            id="field_heureDebut"
            data-cy="heureDebut"
            formControlName="heureDebut"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gnoteEsiApp.absence.heureFin" for="field_heureFin">Heure Fin</label>
          <input type="text" class="form-control" name="heureFin" id="field_heureFin" data-cy="heureFin" formControlName="heureFin" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gnoteEsiApp.absence.justificationEcrit" for="field_justificationEcrit"
            >Justification Ecrit</label
          >
          <input
            type="text"
            class="form-control"
            name="justificationEcrit"
            id="field_justificationEcrit"
            data-cy="justificationEcrit"
            formControlName="justificationEcrit"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gnoteEsiApp.absence.justificationNumerique" for="field_justificationNumerique"
            >Justification Numerique</label
          >
          <div>
            <div *ngIf="editForm.get('justificationNumerique')!.value" class="form-text text-danger clearfix">
              <a
                class="pull-start"
                (click)="openFile(editForm.get('justificationNumerique')!.value, editForm.get('justificationNumeriqueContentType')!.value)"
                jhiTranslate="entity.action.open"
                >open</a
              ><br />
              <span class="pull-start"
                >{{ editForm.get('justificationNumeriqueContentType')!.value }},
                {{ byteSize(editForm.get('justificationNumerique')!.value) }}</span
              >
              <button
                type="button"
                (click)="
                  editForm.patchValue({ justificationNumerique: null }); editForm.patchValue({ justificationNumeriqueContentType: null })
                "
                class="btn btn-secondary btn-xs pull-end"
              >
                <fa-icon icon="times"></fa-icon>
              </button>
            </div>
            <input
              type="file"
              id="file_justificationNumerique"
              data-cy="justificationNumerique"
              (change)="setFileData($event, 'justificationNumerique', false)"
              jhiTranslate="entity.action.addblob"
            />
          </div>
          <input
            type="hidden"
            class="form-control"
            name="justificationNumerique"
            id="field_justificationNumerique"
            data-cy="justificationNumerique"
            formControlName="justificationNumerique"
          />
          <input
            type="hidden"
            class="form-control"
            name="justificationNumeriqueContentType"
            id="field_justificationNumeriqueContentType"
            formControlName="justificationNumeriqueContentType"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gnoteEsiApp.absence.professeur" for="field_professeur">Professeur</label>
          <select class="form-control" id="field_professeur" data-cy="professeur" name="professeur" formControlName="professeur">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                professeurOption.id === editForm.get('professeur')!.value?.id ? editForm.get('professeur')!.value : professeurOption
              "
              *ngFor="let professeurOption of professeursSharedCollection; trackBy: trackProfesseurById"
            >
              {{ professeurOption.nomProf }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gnoteEsiApp.absence.inspecteur" for="field_inspecteur">Inspecteur</label>
          <select class="form-control" id="field_inspecteur" data-cy="inspecteur" name="inspecteur" formControlName="inspecteur">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                inspecteurOption.id === editForm.get('inspecteur')!.value?.id ? editForm.get('inspecteur')!.value : inspecteurOption
              "
              *ngFor="let inspecteurOption of inspecteursSharedCollection; trackBy: trackInspecteurById"
            >
              {{ inspecteurOption.nomInspecteur }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gnoteEsiApp.absence.matiere" for="field_matiere">Matiere</label>
          <select class="form-control" id="field_matiere" data-cy="matiere" name="matiere" formControlName="matiere">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="matiereOption.id === editForm.get('matiere')!.value?.id ? editForm.get('matiere')!.value : matiereOption"
              *ngFor="let matiereOption of matieresSharedCollection; trackBy: trackMatiereById"
            >
              {{ matiereOption.nomEC }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gnoteEsiApp.absence.etudiant" for="field_etudiant">Etudiant</label>
          <select class="form-control" id="field_etudiant" data-cy="etudiant" name="etudiant" formControlName="etudiant">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="etudiantOption.id === editForm.get('etudiant')!.value?.id ? editForm.get('etudiant')!.value : etudiantOption"
              *ngFor="let etudiantOption of etudiantsSharedCollection; trackBy: trackEtudiantById"
            >
              {{ etudiantOption.matriculeET }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
