<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-cycle-heading" data-cy="CycleCreateUpdateHeading" jhiTranslate="gnoteEsiApp.cycle.home.createOrEditLabel">
        Create or edit a Cycle
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gnoteEsiApp.cycle.nomCycle" for="field_nomCycle">Nom Cycle</label>
          <select class="form-control" name="nomCycle" formControlName="nomCycle" id="field_nomCycle" data-cy="nomCycle">
            <option [ngValue]="null">{{ 'gnoteEsiApp.TypeCycle.null' | translate }}</option>
            <option *ngFor="let typeCycle of typeCycleValues" [value]="typeCycle">
              {{ 'gnoteEsiApp.TypeCycle.' + typeCycle | translate }}
            </option>
          </select>
          <div *ngIf="editForm.get('nomCycle')!.invalid && (editForm.get('nomCycle')!.dirty || editForm.get('nomCycle')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('nomCycle')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
