<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-inspecteur-heading" data-cy="InspecteurCreateUpdateHeading" jhiTranslate="gnoteEsiApp.inspecteur.home.createOrEditLabel">
        Create or edit a Inspecteur
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label
            class="form-label"
            jhiTranslate="gnoteEsiApp.inspecteur.nomInspecteur"
            for="field_nomInspecteur"
            [ngbTooltip]="'gnoteEsiApp.inspecteur.help.nomInspecteur' | translate"
            >Nom Inspecteur</label
          >
          <input
            type="text"
            class="form-control"
            name="nomInspecteur"
            id="field_nomInspecteur"
            data-cy="nomInspecteur"
            formControlName="nomInspecteur"
          />
          <div
            *ngIf="
              editForm.get('nomInspecteur')!.invalid && (editForm.get('nomInspecteur')!.dirty || editForm.get('nomInspecteur')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('nomInspecteur')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gnoteEsiApp.inspecteur.prenomInspecteur" for="field_prenomInspecteur"
            >Prenom Inspecteur</label
          >
          <input
            type="text"
            class="form-control"
            name="prenomInspecteur"
            id="field_prenomInspecteur"
            data-cy="prenomInspecteur"
            formControlName="prenomInspecteur"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gnoteEsiApp.inspecteur.contactInspecteur" for="field_contactInspecteur"
            >Contact Inspecteur</label
          >
          <input
            type="text"
            class="form-control"
            name="contactInspecteur"
            id="field_contactInspecteur"
            data-cy="contactInspecteur"
            formControlName="contactInspecteur"
          />
        </div>

        <div class="row mb-3">
          <label jhiTranslate="gnoteEsiApp.inspecteur.professeur" for="field_professeurs">Professeur</label>
          <select
            class="form-control"
            id="field_professeurs"
            data-cy="professeur"
            multiple
            name="professeurs"
            formControlName="professeurs"
          >
            <option
              [ngValue]="getSelectedProfesseur(professeurOption, editForm.get('professeurs')!.value)"
              *ngFor="let professeurOption of professeursSharedCollection; trackBy: trackProfesseurById"
            >
              {{ professeurOption.nomProf }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label jhiTranslate="gnoteEsiApp.inspecteur.etudiant" for="field_etudiants">Etudiant</label>
          <select class="form-control" id="field_etudiants" data-cy="etudiant" multiple name="etudiants" formControlName="etudiants">
            <option
              [ngValue]="getSelectedEtudiant(etudiantOption, editForm.get('etudiants')!.value)"
              *ngFor="let etudiantOption of etudiantsSharedCollection; trackBy: trackEtudiantById"
            >
              {{ etudiantOption.matriculeET }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
