<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-planche-heading" data-cy="PlancheCreateUpdateHeading" jhiTranslate="gnoteEsiApp.planche.home.createOrEditLabel">
        Create or edit a Planche
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gnoteEsiApp.planche.observation" for="field_observation">Observation</label>
          <input
            type="text"
            class="form-control"
            name="observation"
            id="field_observation"
            data-cy="observation"
            formControlName="observation"
          />
          <div *ngIf="editForm.get('observation')!.invalid && (editForm.get('observation')!.dirty || editForm.get('observation')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('observation')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gnoteEsiApp.planche.semestre" for="field_semestre">Semestre</label>
          <select class="form-control" id="field_semestre" data-cy="semestre" name="semestre" formControlName="semestre">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="semestreOption.id === editForm.get('semestre')!.value?.id ? editForm.get('semestre')!.value : semestreOption"
              *ngFor="let semestreOption of semestresSharedCollection; trackBy: trackSemestreById"
            >
              {{ semestreOption.nomSemestre }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
