<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="demandeInspecteurDE">
      <h2 data-cy="demandeInspecteurDEDetailsHeading">
        <span jhiTranslate="gnoteEsiApp.demandeInspecteurDE.detail.title">Demande Inspecteur DE</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ demandeInspecteurDE.id }}</span>
        </dd>
        <dt><span jhiTranslate="gnoteEsiApp.demandeInspecteurDE.message">Message</span></dt>
        <dd>
          <span>{{ demandeInspecteurDE.message }}</span>
        </dd>
        <dt><span jhiTranslate="gnoteEsiApp.demandeInspecteurDE.professeur">Professeur</span></dt>
        <dd>
          <span *ngFor="let professeur of demandeInspecteurDE.professeurs; let last = last">
            <a [routerLink]="['/professeur', professeur?.id, 'view']">{{ professeur.nomProf }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
        <dt><span jhiTranslate="gnoteEsiApp.demandeInspecteurDE.inspecteur">Inspecteur</span></dt>
        <dd>
          <span *ngFor="let inspecteur of demandeInspecteurDE.inspecteurs; let last = last">
            <a [routerLink]="['/inspecteur', inspecteur?.id, 'view']">{{ inspecteur.nomInspecteur }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/demande-inspecteur-de', demandeInspecteurDE.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
