<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-jury-heading" data-cy="JuryCreateUpdateHeading" jhiTranslate="gnoteEsiApp.jury.home.createOrEditLabel">
        Create or edit a Jury
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label
            class="form-label"
            jhiTranslate="gnoteEsiApp.jury.presidentJury"
            for="field_presidentJury"
            [ngbTooltip]="'gnoteEsiApp.jury.help.presidentJury' | translate"
            >President Jury</label
          >
          <input
            type="text"
            class="form-control"
            name="presidentJury"
            id="field_presidentJury"
            data-cy="presidentJury"
            formControlName="presidentJury"
          />
          <div
            *ngIf="
              editForm.get('presidentJury')!.invalid && (editForm.get('presidentJury')!.dirty || editForm.get('presidentJury')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('presidentJury')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label jhiTranslate="gnoteEsiApp.jury.professeur" for="field_professeurs">Professeur</label>
          <select
            class="form-control"
            id="field_professeurs"
            data-cy="professeur"
            multiple
            name="professeurs"
            formControlName="professeurs"
          >
            <option
              [ngValue]="getSelectedProfesseur(professeurOption, editForm.get('professeurs')!.value)"
              *ngFor="let professeurOption of professeursSharedCollection; trackBy: trackProfesseurById"
            >
              {{ professeurOption.nomProf }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gnoteEsiApp.jury.soutenance" for="field_soutenance">Soutenance</label>
          <select class="form-control" id="field_soutenance" data-cy="soutenance" name="soutenance" formControlName="soutenance">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                soutenanceOption.id === editForm.get('soutenance')!.value?.id ? editForm.get('soutenance')!.value : soutenanceOption
              "
              *ngFor="let soutenanceOption of soutenancesSharedCollection; trackBy: trackSoutenanceById"
            >
              {{ soutenanceOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
