<div>
  <h2 id="page-heading" data-cy="AbsenceHeading">
    <span jhiTranslate="gnoteEsiApp.absence.home.title">Absences</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="gnoteEsiApp.absence.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-absence"
        [routerLink]="['/absence/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="gnoteEsiApp.absence.home.createLabel"> Create a new Absence </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="absences?.length === 0">
    <span jhiTranslate="gnoteEsiApp.absence.home.notFound">No absences found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="absences && absences.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="etat"><span jhiTranslate="gnoteEsiApp.absence.etat">Etat</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="heureDebut">
            <span jhiTranslate="gnoteEsiApp.absence.heureDebut">Heure Debut</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="heureFin">
            <span jhiTranslate="gnoteEsiApp.absence.heureFin">Heure Fin</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="justificationEcrit">
            <span jhiTranslate="gnoteEsiApp.absence.justificationEcrit">Justification Ecrit</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="justificationNumerique">
            <span jhiTranslate="gnoteEsiApp.absence.justificationNumerique">Justification Numerique</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="professeur.nomProf">
            <span jhiTranslate="gnoteEsiApp.absence.professeur">Professeur</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="inspecteur.nomInspecteur">
            <span jhiTranslate="gnoteEsiApp.absence.inspecteur">Inspecteur</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="matiere.nomEC">
            <span jhiTranslate="gnoteEsiApp.absence.matiere">Matiere</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="etudiant.matriculeET">
            <span jhiTranslate="gnoteEsiApp.absence.etudiant">Etudiant</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let absence of absences; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/absence', absence.id, 'view']">{{ absence.id }}</a>
          </td>
          <td>{{ absence.etat }}</td>
          <td>{{ absence.heureDebut }}</td>
          <td>{{ absence.heureFin }}</td>
          <td>{{ absence.justificationEcrit }}</td>
          <td>
            <a
              *ngIf="absence.justificationNumerique"
              (click)="openFile(absence.justificationNumerique, absence.justificationNumeriqueContentType)"
              jhiTranslate="entity.action.open"
              >open</a
            >
            <span *ngIf="absence.justificationNumerique"
              >{{ absence.justificationNumeriqueContentType }}, {{ byteSize(absence.justificationNumerique) }}</span
            >
          </td>
          <td>
            <div *ngIf="absence.professeur">
              <a [routerLink]="['/professeur', absence.professeur?.id, 'view']">{{ absence.professeur?.nomProf }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="absence.inspecteur">
              <a [routerLink]="['/inspecteur', absence.inspecteur?.id, 'view']">{{ absence.inspecteur?.nomInspecteur }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="absence.matiere">
              <a [routerLink]="['/matiere', absence.matiere?.id, 'view']">{{ absence.matiere?.nomEC }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="absence.etudiant">
              <a [routerLink]="['/etudiant', absence.etudiant?.id, 'view']">{{ absence.etudiant?.matriculeET }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/absence', absence.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/absence', absence.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(absence)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="absences && absences.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
