<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-demande-inspecteur-etudiant-heading"
        data-cy="DemandeInspecteurEtudiantCreateUpdateHeading"
        jhiTranslate="gnoteEsiApp.demandeInspecteurEtudiant.home.createOrEditLabel"
      >
        Create or edit a Demande Inspecteur Etudiant
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gnoteEsiApp.demandeInspecteurEtudiant.message" for="field_message">Message</label>
          <input type="text" class="form-control" name="message" id="field_message" data-cy="message" formControlName="message" />
          <div *ngIf="editForm.get('message')!.invalid && (editForm.get('message')!.dirty || editForm.get('message')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('message')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label jhiTranslate="gnoteEsiApp.demandeInspecteurEtudiant.etudiant" for="field_etudiants">Etudiant</label>
          <select class="form-control" id="field_etudiants" data-cy="etudiant" multiple name="etudiants" formControlName="etudiants">
            <option
              [ngValue]="getSelectedEtudiant(etudiantOption, editForm.get('etudiants')!.value)"
              *ngFor="let etudiantOption of etudiantsSharedCollection; trackBy: trackEtudiantById"
            >
              {{ etudiantOption.matriculeET }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label jhiTranslate="gnoteEsiApp.demandeInspecteurEtudiant.inspecteur" for="field_inspecteurs">Inspecteur</label>
          <select
            class="form-control"
            id="field_inspecteurs"
            data-cy="inspecteur"
            multiple
            name="inspecteurs"
            formControlName="inspecteurs"
          >
            <option
              [ngValue]="getSelectedInspecteur(inspecteurOption, editForm.get('inspecteurs')!.value)"
              *ngFor="let inspecteurOption of inspecteursSharedCollection; trackBy: trackInspecteurById"
            >
              {{ inspecteurOption.nomInspecteur }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
