<div>
  <h2 id="page-heading" data-cy="RecupererBulletinHeading">
    <span jhiTranslate="gnoteEsiApp.recupererBulletin.home.title">Recuperer Bulletins</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="gnoteEsiApp.recupererBulletin.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-recuperer-bulletin"
        [routerLink]="['/recuperer-bulletin/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="gnoteEsiApp.recupererBulletin.home.createLabel"> Create a new Recuperer Bulletin </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="recupererBulletins?.length === 0">
    <span jhiTranslate="gnoteEsiApp.recupererBulletin.home.notFound">No recupererBulletins found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="recupererBulletins && recupererBulletins.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="signatureEleve">
            <span jhiTranslate="gnoteEsiApp.recupererBulletin.signatureEleve">Signature Eleve</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="bulletinScanne">
            <span jhiTranslate="gnoteEsiApp.recupererBulletin.bulletinScanne">Bulletin Scanne</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="etudiant.matriculeET">
            <span jhiTranslate="gnoteEsiApp.recupererBulletin.etudiant">Etudiant</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="bulletin.observation">
            <span jhiTranslate="gnoteEsiApp.recupererBulletin.bulletin">Bulletin</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let recupererBulletin of recupererBulletins; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/recuperer-bulletin', recupererBulletin.id, 'view']">{{ recupererBulletin.id }}</a>
          </td>
          <td>{{ recupererBulletin.signatureEleve }}</td>
          <td>
            <a
              *ngIf="recupererBulletin.bulletinScanne"
              (click)="openFile(recupererBulletin.bulletinScanne, recupererBulletin.bulletinScanneContentType)"
              jhiTranslate="entity.action.open"
              >open</a
            >
            <span *ngIf="recupererBulletin.bulletinScanne"
              >{{ recupererBulletin.bulletinScanneContentType }}, {{ byteSize(recupererBulletin.bulletinScanne) }}</span
            >
          </td>
          <td>
            <div *ngIf="recupererBulletin.etudiant">
              <a [routerLink]="['/etudiant', recupererBulletin.etudiant?.id, 'view']">{{ recupererBulletin.etudiant?.matriculeET }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="recupererBulletin.bulletin">
              <a [routerLink]="['/bulletin', recupererBulletin.bulletin?.id, 'view']">{{ recupererBulletin.bulletin?.observation }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/recuperer-bulletin', recupererBulletin.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/recuperer-bulletin', recupererBulletin.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(recupererBulletin)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="recupererBulletins && recupererBulletins.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
