<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="jury">
      <h2 data-cy="juryDetailsHeading"><span jhiTranslate="gnoteEsiApp.jury.detail.title">Jury</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ jury.id }}</span>
        </dd>
        <dt>
          <span jhiTranslate="gnoteEsiApp.jury.presidentJury" [ngbTooltip]="'gnoteEsiApp.jury.help.presidentJury' | translate"
            >President Jury</span
          >
        </dt>
        <dd>
          <span>{{ jury.presidentJury }}</span>
        </dd>
        <dt><span jhiTranslate="gnoteEsiApp.jury.professeur">Professeur</span></dt>
        <dd>
          <span *ngFor="let professeur of jury.professeurs; let last = last">
            <a [routerLink]="['/professeur', professeur?.id, 'view']">{{ professeur.nomProf }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
        <dt><span jhiTranslate="gnoteEsiApp.jury.soutenance">Soutenance</span></dt>
        <dd>
          <div *ngIf="jury.soutenance">
            <a [routerLink]="['/soutenance', jury.soutenance?.id, 'view']">{{ jury.soutenance?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/jury', jury.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
