<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-professeur-heading" data-cy="ProfesseurCreateUpdateHeading" jhiTranslate="gnoteEsiApp.professeur.home.createOrEditLabel">
        Create or edit a Professeur
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gnoteEsiApp.professeur.nomProf" for="field_nomProf">Nom Prof</label>
          <input type="text" class="form-control" name="nomProf" id="field_nomProf" data-cy="nomProf" formControlName="nomProf" />
          <div *ngIf="editForm.get('nomProf')!.invalid && (editForm.get('nomProf')!.dirty || editForm.get('nomProf')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('nomProf')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gnoteEsiApp.professeur.prenomProf" for="field_prenomProf">Prenom Prof</label>
          <input
            type="text"
            class="form-control"
            name="prenomProf"
            id="field_prenomProf"
            data-cy="prenomProf"
            formControlName="prenomProf"
          />
          <div *ngIf="editForm.get('prenomProf')!.invalid && (editForm.get('prenomProf')!.dirty || editForm.get('prenomProf')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('prenomProf')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gnoteEsiApp.professeur.contactProf" for="field_contactProf">Contact Prof</label>
          <input
            type="text"
            class="form-control"
            name="contactProf"
            id="field_contactProf"
            data-cy="contactProf"
            formControlName="contactProf"
          />
        </div>

        <div class="row mb-3">
          <label jhiTranslate="gnoteEsiApp.professeur.etudiant" for="field_etudiants">Etudiant</label>
          <select class="form-control" id="field_etudiants" data-cy="etudiant" multiple name="etudiants" formControlName="etudiants">
            <option
              [ngValue]="getSelectedEtudiant(etudiantOption, editForm.get('etudiants')!.value)"
              *ngFor="let etudiantOption of etudiantsSharedCollection; trackBy: trackEtudiantById"
            >
              {{ etudiantOption.matriculeET }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label jhiTranslate="gnoteEsiApp.professeur.classe" for="field_classes">Classe</label>
          <select class="form-control" id="field_classes" data-cy="classe" multiple name="classes" formControlName="classes">
            <option
              [ngValue]="getSelectedClasse(classeOption, editForm.get('classes')!.value)"
              *ngFor="let classeOption of classesSharedCollection; trackBy: trackClasseById"
            >
              {{ classeOption.nomClasse }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label jhiTranslate="gnoteEsiApp.professeur.matiere" for="field_matieres">Matiere</label>
          <select class="form-control" id="field_matieres" data-cy="matiere" multiple name="matieres" formControlName="matieres">
            <option
              [ngValue]="getSelectedMatiere(matiereOption, editForm.get('matieres')!.value)"
              *ngFor="let matiereOption of matieresSharedCollection; trackBy: trackMatiereById"
            >
              {{ matiereOption.nomEC }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
